@model CheckAnalysis.Models.CheckFile
@{
    ViewBag.Title = "Начальная страница";
}


<div class="jumbotron">
    <h1>Учет расходов с помощью математических методов и машинного обучения</h1>
    <p class="lead">Дипломная работа студента группы 05-212 2 года магистратуры Воронянского Вячеслава Николаевича</p>
</div>


<hr />
<div id="fileUploadApp">
    <form>
        <input type="file" multiple="" @@change="fileChange($event.target.files)" />
        <br />
        <button class="btn btn-primary" @@click="startUpload()" type="button">Upload File(s)</button>
    </form>
</div>

@section Scripts
{
    <script src="~/js/app.build.js"></script>
}


