@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@page
@model CheckAnalysis.Data.Repositories.CheckDataRepository;

@{

}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Checks)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @item.price
                </td>
                <td>
                    @item.quantity
                </td>
                <td>
                    @item.sum
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>



