@model CheckAnalysis.Models.ItemData;
@*
*@
@{
}



<form method="post" asp-controller="CheckArray" asp-action="ProductInformation">

    @foreach (var item in ViewBag.Products)
    {
        <input type="submit" value="@item" asp-for="name"/>
    }
</form>

<h1>Популярные продукты</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Продукт
            </th>
            <th>
                Ср. кол-во на чек
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PopularProducts)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </tbody>
</table>
