@*
*@
@{
}


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Items)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @item.price
                </td>
                <td>
                    @item.quantity
                </td>
                <td>
                    @item.sum
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

